.header {
    font-size: 40px;
    color: orange;
    background-color: grey;
    text-align: center;
    border-width: 5px;
    
}

.header.sub {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main {
    text-align:left;
    background-color: rosybrown;
}